body {
  /* Remove underlines on links */
  text-decoration: none;
}

/* Center tables on the page */
.markdown-preview-view table {
  margin-left: auto;
  margin-right: auto;
}

/* Remove underlines from specific types of links */
.cm-hmd-internal-link a,
.internal-link a {
  text-decoration: none;
}

/* Additional styles for specific types of links */
.cm-hmd-internal-link,
.internal-link {
  /* Add your specific styles for these links */
}
