body {
  /* Remove underlines from links */
  .cm-hmd-internal-link .cm-underline,
  .internal-link {
    text-decoration: initial !important;
  }

  /* Center tables on the page */
  table {
    margin-left: auto;
    margin-right: auto;
  }

  /* Turn H2 headers gold */
h1, h2, h3, h4, h5, h6 {
  background-image: linear-gradient(to bottom, #4C3800, #A77D00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.callout[data-callout="infobox"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-info;
}  

.callout[data-callout="party"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-party-popper;
}

.callout[data-callout="npc"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-venetian-mask;
}

.callout[data-callout="place"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-globe;
}  
  
}
