body {
  /* Remove underlines from links */
  .cm-hmd-internal-link .cm-underline,
  .internal-link {
    text-decoration: initial !important;
  }

  /* Center images */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Center tables */
table {
  margin-left: auto;
  margin-right: auto;
}

/* Center table headers */
th {
  text-align: center !important;
}

/* Round table edges */
table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

/* Adjust table cell padding */
table td,
table th {
  padding: 8px;
}

/* Center Table Contents */
td, th {
  text-align: center;
}  
  
  /* Center H6 */
  h6 {
    text-align: center;
  }

  /* Turn H2 headers gold */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    background-image: linear-gradient(to bottom, #4C3800, #A77D00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

/* Gold Callouts */

  .callout[data-callout="npc"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-venetian-mask;
    border-radius: 10px;
  }

  .callout[data-callout="place"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-globe;
    border-radius: 10px;
}

.callout[data-callout="party"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-party-popper;
    border-radius: 10px;
}  
  .callout[data-callout="infobox"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-shield-question;
    border-radius: 10px;
  }

  .callout[data-callout="item"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-backpack;
    border-radius: 10px;

  }

  .callout[data-callout="redacted"] {
    --callout-color: 197, 179, 88;
    --callout-icon: lucide-x;
    border-radius: 10px;
}

  /* Picture border */
  .markdown-preview-view img {
    border: 7px solid #000000;
    padding: 0px;
  }
  
/* Include the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply Roboto font to specific elements */
body, 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

/* Reduce Image Size */

img {
    width: 85%; /* Adjust the value as needed */
  } 


/* Center H5 Headers */
h5 {
  text-align: center;
}  
  
}
